{% extends '_layout_admin.html' %}
{% load utils %}

{% block page-title %}
	<div class="page-title">
		<h1>Contracts</h1>
		<div class="badge counter">{{ object_list|length }}</div>
	</div>
{% endblock %}

{% block content %}

	<table class="table table-simple">
		<thead>
			<tr>
				<th>Contract</th>
				<th>Landlord</th>
				<th>Customer</th>
				<th class="col-status">Status</th>
				<th>Awarded</th>
			</tr>
		</thead>
		<tbody>
		{% for contract in object_list %}
			<tr>
				<td><a href="">{{ contract.listing.title }}</a></td>
				<td><a href="">{{ contract.listing.landlord }}</a></td>
				<td><a href="">{{ contract.customer }}</a></td>
				<td>
					<span class="td-badge {{ contract.get_status_display }}">
						{{ contract.get_status_display }}
					</span>
				</td>
				<td>{{ contract.awarded|just_date }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
{% endblock %}
