{% extends '_layout_admin.html' %}

{% block content %}
  <h1>Customers</h1>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Nationality</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in object_list %}
      <tr>
        <td>{{ customer.first_name }} {{ customer.last_name }}</td>
        <td>{{ customer.nationality }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.get_status_display }}</td>
        <td></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
