{% extends '_layout_admin.html' %}

{% block page-title %}
  <div class="page-title">
    <h1>Customers</h1>
    <div class="counter">{{ object_list|length }}</div>
    <div class="actions">
      <a class="btn primary demo" href="#"
          title="Add a Customer manually">Add Customer</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <table class="table-list">
    <thead>
    <tr>
      <th>Name</th>
      <th>Nationality</th>
      <th>Phone</th>
      <th>Email</th>
      <th class="col-status">Status</th>
      <th>Contracts</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in object_list %}
      <tr>
        <td>
          <strong><a href="{% url 'hsadmin_customer_detail' customer.pk %}">{{ customer.first_name }} {{ customer.last_name }}</a></strong>
        </td>
        <td>{{ customer.nationality }}</td>
        <td>
          <a href="tel:{{ customer.phone }}">{{ customer.phone }}</a>
        </td>
        <td>
          <a href="mailto:{{ customer.email }}">{{ customer.email }}</a>
        </td>
        <td>
          <span class="td-badge {{ customer.get_status_display }}">
            {{ customer.get_status_display }}
          </span>
        </td>
        <td>
          {{ customer.contract_set.count }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
