{% extends '_layout_admin.html' %}

{% block page-title %}
  <div class="page-title">
    <h1>Overview</h1>
  </div>
{% endblock %}

{% block content %}

  <h3>Last week</h3>
  <hr>

  <table class="table-overview">
    <tbody>
      <tr class="icons">
        <td><div class="icon-visitors"></div></td>
        <td><div class="icon-listings"></div></td>
        <td><div class="icon-customers"></div></td>
        <td><div class="icon-landlords"></div></td>
        <td><div class="icon-contracts"></div></td>
      </tr>
      <tr class="numbers">
        <td>120</td>
        <td>200</td>
        <td>20</td>
        <td>10</td>
        <td>15</td>
      </tr>
      <tr class="labels">
        <td>Site visitors</td>
        <td>New listings</td>
        <td>New customers</td>
        <td>New landlords</td>
        <td>Closed contracts</td>
      </tr>
    </tbody>
  </table>


  <h3>Listings</h3>

  <table class="table table-stats">
    <tfoot>
      <tr>
        <th class="col-3">Total</th>
        <th class="col-6"></th>
        <th class="col-3">400</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Apartment</td>
        <td>
          <div class="bars">
            <div style="width: 25%;" class="bar new" data-popout="hover">
              <div class="popout">64 New</div>
            </div>
            <div style="width: 75%;" class="bar active" data-popout="hover">
              <div class="popout">192 Active</div>
            </div>
            <div style="width: 0" class="bar passive">
            </div>
          </div>
        </td>
        <td>256</td>
      </tr>
      <tr>
        <td>Single house</td>
        <td>
          <div class="bars">
            <div style="width: 10%;" class="bar new" data-popout="hover">
              <div class="popout">20 New</div>
            </div>
            <div style="width: 70%;" class="bar active" data-popout="hover">
              <div class="popout">140 Active</div>
            </div>
            <div style="width: 20%;" class="bar passive" data-popout="hover">
              <div class="popout">40 Passive</div>
            </div>
          </div>
        </td>
        <td>200</td>
      </tr>
      <tr>
        <td>Duplex</td>
        <td>
          <div class="bars">
            <div style="width: 5%;" class="bar new" data-popout="hover">
              <div class="popout">5 New</div>
            </div>
            <div style="width: 50%;" class="bar active" data-popout="hover">
              <div class="popout">50 Active</div>
            </div>
            <div style="width: 45%;" class="bar passive" data-popout="hover">
              <div class="popout">45 Passive</div>
            </div>
          </div>
        </td>
        <td>100</td>
      </tr>
      <tr>
        <td>Other</td>
        <td>
          <div class="bars">
            <div style="width: 20%;" class="bar new" data-popout="hover">
              <div class="popout">14 New</div>
            </div>
            <div style="width: 50%;" class="bar active" data-popout="hover">
              <div class="popout">40 Active</div>
            </div>
            <div style="width: 30%;" class="bar passive" data-popout="hover">
              <div class="popout">26 Passive</div>
            </div>
          </div>
        </td>
        <td>80</td>
      </tr>
    </tbody>
  </table>

<hr class="page-separator">

  <h2>Categories</h2>
  <dl>
    <dt>Listings</dt>
    <dd>100 Active, 50 Passive</dd>
    <dt>Landlords</dt>
    <dd>30 Active, 10 Passive</dd>
    <dt>Customers</dt>
    <dd>30 Active, 10 Passive</dd>
    <dt>Apartament</dt>
    <dd>300</dd>
    <dt>Single House</dt>
    <dd>30</dd>
  </dl>
{% endblock %}
