{% extends '_layout_admin.html' %}

{% block content %}
  <h1>Dashboard</h1>

  <h2>Site stats</h2>
  <dl>
    <dt>Site Visitors</dt>
    <dd>3</dd>
    <dt>New Listings (last week)</dt>
    <dd>100</dd>
    <dt>New Registrations (last week)</dt>
    <dd>5 Landlords, 10 Customers</dd>
    <dt>Listings</dt>
    <dd>100 Active, 50 Passive</dd>
    <dt>Landlords</dt>
    <dd>30 Active, 10 Passive</dd>
    <dt>Customers</dt>
    <dd>30 Active, 10 Passive</dd>
    <dt>Contracts</dt>
    <dd>200 Closed</dd>
  </dl>

  <h2>Categories</h2>
  <dl>
    <dt>Apartament</dt>
    <dd>300</dd>
    <dt>Single House</dt>
    <dd>30</dd>
  </dl>
{% endblock %}
