{% extends '_layout_admin.html' %}

{% block page-title %}
  <div class="page-title">
    <h1>Landlords</h1>
    <div class="actions">
      <a class="btn primary" href="#"
          title="Add a Landlord manually">Add Landlord</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <table class="table table-simple">
    <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th class="col-status">Status</th>
      <th>Listings</th>
    </tr>
    </thead>
    <tbody>
    {% for landlord in object_list %}
      <tr>
        <td><strong>{{ landlord.first_name }} {{ landlord.last_name }}</strong></td>
        <td class="no-br">{{ landlord.address }}</td>
        <td>
          <a href="tel:{{ landlord.phone }}">{{ landlord.phone }}</a>
        </td>
        <td>
          <a href="mailto:{{ landlord.email }}">{{ landlord.email }}</a>
        </td>
        <td>
          <span class="td-badge {{ landlord.get_status_display }}">
            {{ landlord.get_status_display }}
          </span>
        </td>
        <td>{{ landlord.user.listing_set.count }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
