{% extends '_layout_admin.html' %}
{% load utils %}

{% block page-title %}
  <div class="page-title">
    <h1>Listings</h1>
    <div class="counter">{{ object_list|length }}</div>
    <div class="actions">
      Type
      Years
      Status
    </div>
  </div>
{% endblock %}

{% block content %}
  <table class="table-list">
    <thead>
      <tr>
        <th>Listing</th>
        <th>Landlord</th>
        <th class="col-status">Status</th>
        <th>Posted</th>
      </tr>
    </thead>
    <tbody>
      {% for listing in object_list %}
      <tr>
        <td><a href="">{{ listing.title }}</a></td>
        <td><a href="">{{ listing.owner.landlord }}</a></td>
        <td>
          <span class="td-badge {{ listing.get_status_display }}">
            {{ listing.get_status_display }}
          </span>
        </td>
        <td>{{ listing.updated|just_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
