{% extends '_layout_admin.html' %}

{% block content %}
  <h1>Listings</h1>

  <table>
    <thead>
    <tr>
      <th>Landlord</th>
      <th>Title</th>
      <th>Address</th>
      <th>Posted</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for listing in object_list %}
      <tr>
      <td>{{ listing.owner }}</td>
      <td>{{ listing.title }}</td>
      <td>{{ listing.address }}</td>
      <td>{{ listing.posted }}</td>
      <td>{{ listing.get_status_display }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
