{% extends '_layout_admin.html' %}
{% load utils %}
{% load staticfiles %}


{% block page-title %}
  <div class="page-title">
    <h1>Listing reports</h1>
	  <div class="actions">
	  	<select name="" id="" class="demo">
	  		<option value="">Last Month</option>
	  		<option value="">Last Year</option>
	  		<option value="" selected>All time</option>
	  	</select>
	  </div>
  </div>
{% endblock %}

{% block content %}
  <div class="img">
  	<img src="{% static 'img/chart.jpg' %}" alt="">
  </div>
  <hr class="hr-page">

  <div class="row">
  	<div class="col col-6">
  		<table class="table-data">
				<caption>Most viewed listings</caption>
				<tbody>
          {% for listing in viewed %}
					<tr>
						<td class="col-listing"><a class="demo" href="">{{ listing }}</a></td>
						<td class="col-counter">{{ listing.id|add:12 }}</td>
					</tr>
          {% endfor %}
				</tbody>
			</table>		
  	</div>
  	<div class="col col-6">
  		<table class="table-data">
				<caption>Most clicked listings</caption>
				<tbody>
					{% for listing in favorited %}
					<tr>
						<td class="col-listing"><a class="demo" href="">{{ listing }}</a></td>
						<td class="col-counter">{{ listing.id|add:6 }}</td>
					</tr>
          {% endfor %}
				</tbody>
			</table>		
  	</div>
  </div>

{% endblock %}
