{% extends '_layout.html' %}


{% block content %}

  <p>Who are you:</p>

  <ol>
    <li>
      <h2>IAEA Customer</h2>

      <p>By clicking Continue, you confirm that you are an IAEA Staff
        Member
      </p>
      <a href="{% url 'register_customer' %}">Continue</a>
    </li>
    <li>
      <h2>Landlord</h2>

      <p>Choose this if you are a Landlord in possesion of properties in
        Vienna
      </p>
      <a href="{% url 'register_landlord_terms' %}">Continue</a>
    </li>
  </ol>

{% endblock %}
