{% extends '_layout_passage.html' %}


{% block content %}
  <h1 class="text-center h3 no-leading">Customer Registration</h1>

  <hr class="hr-soft">
  <form class="register-landlord" method="POST">
    {% csrf_token %}

    <div class="input-col">
      <label for="id_first_name">First name</label>
      {{ form.first_name }}
      {{ form.first_name.errors }}
    </div>

    <div class="input-col">
      <label for="id_last_name">Last name</label>
      {{ form.last_name }}
      {{ form.last_name.errors }}
    </div>

    <div class="input-col">
      <label for="id_address">Address</label>
      {{ form.address }}
      {{ form.address.errors }}
    </div>

    <div class="input-col">
      <label for="id_phone">Phone</label>
      {{ form.phone }}
      {{ form.phone.errors }}
    </div>

    <div class="input-col">
      <label for="id_email">Email</label>
      {{ form.email }}
      {{ form.email.errors }}
    </div>

    <div class="input-col">
      <label for="id_email">Nationality</label>
      {{ form.nationality }}
      {{ form.nationality.errors }}
    </div>

    <div class="input-col">
      <label for="id_email">Password</label>
      {{ form.password }}
      {{ form.password.errors }}
    </div>

    <div class="input-col">
      <label for="id_email">Confirm Password</label>
      {{ form.confirm_password }}
      {{ form.confirm_password.errors }}
    </div>

    <p class="text-center">{{ form.errors }}
      <button class="btn primary col-3" type="submit">Register</button>
      <a class="btn default col-3" href="{% url 'register' %}">Cancel</a>
    </p>
  </form>
  <hr class="hr-soft">
{% endblock %}
