@import 
	"settings",
	"helpers",
	"layout",
	"tables",
	"buttons",
	"inputs",
	"icons";
@import "shame";

// layout
.center-block {
	@extend %center-block;
}
.container {
	@extend %container;
}
.row {
	@extend %row;
}
.col {
	@extend %col;
}
.clearfix {
	@extend %clearfix;
}
.pull-left {
	float: left!important;
}
.pull-right {
	float: right!important;
}

// typography
body {
	position: relative;
	font-family: $font-body;
	font-size: $font-size;
	line-height: $line-height;
	color: $color-body;
	text-rendering: optimizeLegibility;
	// background-color: $sidebar-bg;
}
.text-left {
	@extend %text-left;
}
.text-center {
	@extend %text-center;
}
.text-right {
	@extend %text-right;
}
.text-justifiy {
	@extend %text-justifiy;
}
.small,
small {
	font-size: $smaller;
}
.large {
	font-size: $larger;
}
.muted {
	color: $color-muted;
}
.quiet {
	@extend .muted;
	a {
		color: darken($color-muted, 10%);
		&:hover {
			color: $color-body;
		}
	}
}
.b {
	font-weight: bold;
}
.no-br {
	@extend %clip;
}
.no-leading {
	@extend %no-leading;
}
.no-ul {
	@extend %no-ul;
}
#{$headings} {
	@extend %leading;
	font-family: $font-heading;
	line-height: 1.2;
	font-weight: normal;
}
a {
	color: $color-anchor;
	text-decoration: none;
}
.h1 { font-size: 2rem; }
.h2 { font-size: 1.8rem; }
.h3 { font-size: 1.6rem; }
.h4 { font-size: 1.4rem; }
.h5 { font-size: 1.2rem; }
.h6 { font-size: 1rem; }
hr {
	margin-top: $leading;
	margin-bottom: $leading;
	height: 0;
	border: 0;
	border-bottom: 1px solid $color-medium;
}
.hr-soft {
	@extend %center-block;
	max-width: 5em;
}
.hr-page {
	@extend %inset-page;
	@extend %outset-page;
}
p, .p {
	@extend %leading;
}
.dl-inline {
	@extend %leading;
	@include media-object('dt', 160px, 'dd');
	dt, dd {
		margin-top: 3px;
	}
	dt {
		@extend .muted;
		@extend %clip;
		clear: left;
	}
	dd {
		font-weight: bold;
	}	
}
.dl-horizontal {
	@extend %dl-horizontal;
}
.img {
	display: block;
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

// popouts
[data-popout] {
	@extend %popout-container;
}
[data-popout='hover']:hover {
	.popout {
		display: block;
	}
}
.popout {
	@extend %popout;
}

// modals
.modal-open {
	overflow: hidden;
}
.modal-open .modal-container {
	display: block;
	overflow: hidden;
}
.modal-container {
	@extend %modal-container;
}
.modal {
	@extend %modal;
}
.modal-title {
	@extend %modal-title;
	h2 {
		@extend .muted;
		margin-bottom: 0;
	}
}

.modal-map {
	position: absolute;
	top: 60px;
	right: 60px;
	bottom: 60px;
	left: 60px;
	padding: 3px;
	.map-full {
		width: 100%;
		height: 100%;
	}
}

// topbar
.topbar {
	@extend %leading;
	@extend %brand-bg;
	padding: 15px;
	.logo {
		margin-top: -9px;
		margin-bottom: -9px;
	}
}

// search
.search {
	@extend %clearfix;
	input,
	button {
		position: relative;
		float: left;
		border: 0;
	}
	input {
		@include new-col('width', 10);
		border-radius: 3px 0 0 3px;
		box-shadow: none;
		&:hover,
		&:focus {
			box-shadow: 0 0 3px 0 rgba(black, .5);
			z-index: 5;
		}
	}
	button {
		@extend %input-align;
		@include new-col('width', 2);
		color: #fff;
		border-radius: 0 3px 3px 0;
		background-color: rgba(black, .25);
		&:hover,
		&:focus {
			background-color: rgba(black, .4);
		}
	}
}

// menu
.menu {
	@extend %clearfix;
}
.menu-item {
	@extend %button;
	@extend %z-index-0;
	float: right;
	display: block;
	margin-left: 12px;
	padding-left: 8px;
	padding-right: 8px;
	color: #fff;
	&:hover {
		@extend %z-index-hover;
		@include button-var(#ffcc66);
		color: $color-body;
	}
	&:active {
		box-shadow: 0 2px 2px -1px rgba(black, .0);
	}
}

// nav
.nav-title {
	@extend %uppercase;
	@extend .muted;
	margin-bottom: 6px;
	font-size: 15px;
}
.nav {
	@extend %no-ul;
	@extend %leading;
	li {
		margin-top: 3px;
	}
	a {
		@extend %no-a;
		display: block;
		height: 30px;
		margin: 0 -6px;
		padding: 0 6px;
		border-radius: 2px;
		line-height: 30px;
		&:before {
			float: right;
		}
		&:hover {
			@extend %brand-bg;
			color: white;
		}
	}
}

// page-title
.page-title {
	@extend %inset-page;
	@extend %outset-page;
	@extend %clearfix;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 14px;
	border-bottom: 1px solid $color-medium;
	// background-color: $color-soft;
	// box-shadow: 0 2px 5px -3px rgba(black, .4);
	#{$headings} {
		@extend .h2;
		@extend .muted;
		@extend %no-leading;
		float: left;
		line-height: 30px;
	}
	.actions {
		float: right;
	}
	.counter {
		display: inline-block;
		float: left;
		min-width: 20px;
		margin: 3px 8px;
		padding: 2px;
		border-radius: 50%;
		font-size: inherit;
		line-height: 20px;
		text-align: center;
		color: #fff;
		background: $color-anchor;
		// box-shadow: inset 0 0px 2px 0px rgba(black, .25);
	}
}

.layout-admin {
	.page-title {
		background-color: #fff;
	}
}

// account choice
.account-choice {
	@extend %button;
	@extend %z-index-button;
	@extend %input-border-hover;
	width: 120px;
	height: auto;
	padding: 12px;
	font-weight: bold;
	color: $color-body;
	background-color: #fff;
	&:before {
		@extend %center-block;
	}
	&:hover {
		@extend %z-index-hover;
	}
	&:active {
		@extend %z-index-0;
	}
}

// register landlord
.register-landlord {
	@extend %center-block;
	width: 420px;
	.input-col {
		label {
			@include new-col('width', 6); 
		}
		#{$inputs} {
			@include new-col('width', 6);
		}
		.errorlist {
			@include new-col('offset', 6);
		}
	}
}

.input-accomodation {
	@extend .input-block;
	margin-top: $leading * -1;
	ul {
		@extend %no-ul;
		@extend %clearfix;
		margin-left: -5px;
		margin-right: -5px;
	}
	li {
		@extend %border-box;
		@include new-col("width", 1, 4);
		float: left;
		padding-left: 5px;
		padding-right: 5px;
		& label:before { @extend %center-block; }
		&:nth-child(1) label { @extend %icon-apartment; }
		&:nth-child(2) label { @extend %icon-house; }
		&:nth-child(3) label { @extend %icon-duplex; }
		&:nth-child(4) label { @extend %icon-other; }
	}
	label {
		@extend %border-box;
		@extend %button;
		@extend %input-border-hover;
		border-color: transparent;

		&:hover {
			@extend %z-index-hover;
		}
		&:active {
			@extend %z-index-0;
		}
		display: block!important;
		width: 100%;
		height: auto;
		border-style: solid;
		border-width: 1px;
		padding: 5px;
		text-align: center;
	}
	input {
		@extend %center-block;
		display: block;
		width: 30px;
	}
}

// tables
.table-list {
	@extend .table;
	@extend .table-simple;
	// table-layout: fixed;
	.col-status {
		width: 60px;
	}
}

.table-layout {
	@extend %text-center;
	table-layout: fixed;
	td {
		@include new-col('width', 1, 5);
	}
}

.table-rent {
	@extend %text-center;
	@extend .td-vr;
	table-layout: fixed;
	td {
		@include new-col('width', 1, 3);
	}
}

.table-overview {
	@extend .table;
	@extend .td-vr;
	table-layout: fixed;
	.icons {
		div:before {
			@extend %center-block;
		}
	}
	.numbers {
		font-size: $larger;
		font-weight: bold;
	}
	.labels {
		font-size: $smaller;
	}
	td {
		@include new-col('width', 1, 5);
		padding: 0 5px;
		text-align: center;
	}
}

.table-stats {
	table-layout: fixed;
	th, td {
		// @include new-col('width', 1, 3);
		padding: 3px 6px;
	}
	.bars {
		&:hover {
			cursor: help;
		}
		.bar {
			@extend %popout-container;
		}
		.popout {
			@extend %radius-small;
			padding: 3px;
			top: auto;
			left: 50%;
			bottom: 100%;
			width: 80px;
			margin-bottom: 5px;
			margin-left: -40px;
			text-align: center;
			font-size: $small;
			border-color: $brand-secondary;
			box-shadow: 0 0 2px 0 rgba($brand-secondary, .5);;
		}
	}
}

// badges
.badge {
	@extend %badge;
	&.primary {
		color: #fff;
		background-color: $brand-primary;
	}
	&.active {
		color: #fff;
		background-color: #3dcb4b;
	}
	&.passive {
		@extend .muted;
		background-color: #d6d6d6;
	}
	&.new {
		background-color: $brand-yellow;
	}
	&.terminated {
		color: #fff;
		background-color: $brand-red;
	}
	&.occupied {
		color: #fff;
		background-color: $brand-red;	
	}
}
.td-badge {
	@extend .badge;
	@extend %text-center;
	display: block;
	min-width: 100%;
}

// bars
.bars {
	height: 6px;
	background-color: $color-soft;
	box-shadow: inset 0 0 1px 0 rgba(black, .4);
}
.bar {
	float: left;
	height: 100%;
	&.new {
		background-color: $brand-yellow;
	}
	&.active {
		background-color: $brand-green;
	}
	&.passive {
		background-color: #d6d6d6;
	}
	&.terminated {
		background-color: $brand-red;	
	}
	&.occupied {
		background-color: $brand-red;	
	}
}

.listing {
	@extend %leading;
	@extend %radius-small;
	overflow: hidden;
	padding: 5px;
	border: 1px solid $color-medium;
	&:hover {
		cursor: pointer;
		background-color: $color-soft;
	}
}
.listing-thumbnail {
	overflow: hidden;
	.img {
		img {
			width: 150%;
		}
	}
	.img.no-photo {
		@extend %icon-no-photo;
		background-color: $color-soft;
		&:before {
			margin-left: 15px;
			opacity: .25; 
		}
	}
}

// listing
.listing-title {
	@extend .h4;
	@extend %clip;
}
.listing-address {
	@extend %clip;
}
.listing-published {
	@extend .muted;
	@extend .small;
}
// price
.price {
	@extend .h4;
	font-size: $larger;
	color: $brand-red;
}
// availability
.availability {
	@extend %no-br;
	color: darken($brand-green, 5%);
	// color: $brand-green;
	&.now {
		font-weight: bold;
	}
}

.listings-list {
	@extend %no-ul;
	@include media-object('.listing-thumbnail', 120px, '.listing-body');
	.listing-thumbnail {
		height: 90px;
		margin: -5px;
		border-right: 1px solid $color-medium;
	}
	.listing-body {
		padding: 0 8px 0 12px;
	}
	.listing-stats {
		@extend %text-right;
		float: right;
		margin-left: 12px;
		width: 180px;
		.dl-horizontal {
			margin: 0;
			dt, dd {
				@extend %clip;
				width: 50%;
			}
		}
	}
}




.listing-gallery {
	@extend %no-ul;
}

// photo
.listing-photo {
	@extend %leading;
	@extend %radius-medium;
	overflow: hidden;
	max-height: 420px;
}

.action-box,
.listing-summary {
	margin-bottom: $leading * 1.5;
	border: 1px solid $color-medium;
	border-radius: 6px;
	padding: $leading;
}
.action-box {
	@extend %text-center;
}

.section {
	position: relative;
	padding-top: $leading;
	border-top: 1px solid $color-soft;
}
.section-title {
	@extend %uppercase;
	margin-bottom: $leading / 2;
	font-size: $smaller;
}

// filters
.filters {
	@extend %leading;
	font-size: 14px;
	label {
		@extend %clearfix;
		@extend %clip;
		display: block;
	}
}
.filter-section {
	padding-top: $leading / 2;
	border-top: 1px solid $color-soft;
}
.filter-name {
	@extend .muted;
	@extend %uppercase;
}
.filter-list {
	margin-top: $leading / 2;
	margin-bottom: $leading / 2;
	ul {
		@extend %no-ul;
	}
}
.filter-map {
	.img {
		@extend %radius-medium;
		display: block;
		overflow: hidden;
	}
	a:hover {
		cursor: pointer;
	}
}

.collapsed {
	height: 0;
	overflow: hidden;
}

// data toggle
[data-toggle] {
	&:hover {
		cursor: pointer;
	}
}

// map jump
.jump-to-map {
	@extend %button;
	@extend %icon-map;
	@extend %radius-small;
	float: right;
	height: auto;
	padding: 8px;
	border-color: transparent;
	&:before {
		display: block;
	}
	&:hover {
		@extend	%z-index-hover;
		border-color: $color-medium;
		background-color: #fff;
	}
	&:active {
		@extend %z-index-0;
	}
}

// map
.map {
	@extend %leading;
	@extend %radius-medium;
	overflow: hidden;
	height: 300px;
}

// map form
.map-form {
	max-width: 180px;
	margin-bottom: $leading / 2;
	text-align: center;
	.img {
		@extend %radius-medium;
		overflow: hidden;
	}
	a:hover {
		cursor: pointer;
	}
}

// copyright
.copyright {
	@extend .quiet;
	@extend .small;
	@extend %no-leading;
	@extend %text-center;
}

.demo:hover {
	cursor: not-allowed!important;
	background: transparent!important;
	color: red!important;
}

