@import 
	"settings",
	"helpers",
	"layout",
	"tables",
	"buttons",
	"inputs",
	"icons";
@import "shame";

// layout
html,
body {
	height: 100%;
	overflow: auto;
}
.center-block {
	@extend %center-block;
}
.container {
	@extend %container;
}
.row {
	@extend %row;
}
.col {
	@extend %col;
}
.clearfix {
	@extend %clearfix;
}
.pull-left {
	float: left!important;
}
.pull-right {
	float: right!important;
}

// typography
body {
	position: relative;
	font-family: $font-body;
	font-size: $font-size;
	line-height: $line-height;
	color: $color-body;
	text-rendering: optimizeLegibility;
	// background-color: $sidebar-bg;
}
.text-left {
	@extend %text-left;
}
.text-center {
	@extend %text-center;
}
.text-right {
	@extend %text-right;
}
.text-justifiy {
	@extend %text-justifiy;
}
.small {
	font-size: $smaller;
}
.large {
	font-size: $larger;
}
.muted {
	color: $color-muted;
}
.quiet {
	@extend .muted;
	a {
		color: darken($color-muted, 10%);
		&:hover {
			color: $color-body;
		}
	}
}
.no-br {
	@extend %clip;
}
.no-leading {
	@extend %no-leading;
}
#{$headings} {
	@extend %leading;
	font-family: $font-heading;
	line-height: 1.2;
	font-weight: normal;
}
a {
	color: $color-anchor;
	text-decoration: none;
}
.h1 { font-size: 2rem; }
.h2 { font-size: 1.8rem; }
.h3 { font-size: 1.6rem; }
.h4 { font-size: 1.4rem; }
.h5 { font-size: 1.2rem; }
.h6 { font-size: 1rem; }
hr {
	margin-top: $leading;
	margin-bottom: $leading;
	height: 0;
	border: 0;
	border-bottom: 1px solid $color-medium;
}
.hr-soft {
	@extend %center-block;
	max-width: 5em;
}
.hr-page {
	@extend %inset-page;
	@extend %outset-page;
}
p, .p {
	@extend %leading;
}
.dl-inline {
	@extend %leading;
	@include media-object('dt', 120px, 'dd');
	dt, dd {
		margin-top: 3px;
	}
	dt {
		@extend .muted;
		@extend %clip;
		clear: left;
	}
	dd {
		font-weight: bold;
	}	
}
.img {
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

// popouts
[data-popout] {
	@extend %popout-container;
}
[data-popout='hover']:hover {
	.popout {
		display: block;
	}
}
.popout {
	@extend %popout;
}

// modals
.modal-open .modal-container {
	display: block;
	overflow: hidden;
}
.modal-container {
	@extend %modal-container;
}
.modal {
	@extend %modal;
}
.modal-title {
	@extend %modal-title;
	h2 {
		@extend .muted;
		margin-bottom: 0;
	}
}

// topbar
.topbar {
	@extend %leading;
	@extend %brand-bg;
	padding: 15px;
	.logo {
		margin-top: -9px;
		margin-bottom: -9px;
	}
}

// search
.search {
	@extend %clearfix;
	input,
	button {
		position: relative;
		float: left;
		border: 0;
	}
	input {
		@include new-col('width', 10);
		border-radius: 3px 0 0 3px;
		box-shadow: none;
		&:hover,
		&:focus {
			box-shadow: 0 0 3px 0 rgba(black, .5);
			z-index: 5;
		}
	}
	button {
		@extend %input-align;
		@include new-col('width', 2);
		color: #fff;
		border-radius: 0 3px 3px 0;
		background-color: rgba(black, .25);
		&:hover,
		&:focus {
			background-color: rgba(black, .4);
		}
	}
}

// menu
.menu {
	@extend %clearfix;
}
.menu-item {
	@extend %button;
	@extend %z-index-0;
	float: right;
	display: block;
	margin-left: 12px;
	padding-left: 8px;
	padding-right: 8px;
	color: #fff;
	&:hover {
		@extend %z-index-hover;
		@include button-var(#ffcc66);
		color: $color-body;
	}
	&:active {
		box-shadow: 0 2px 2px -1px rgba(black, .0);
	}
}

// nav
.nav-title {
	@extend %uppercase;
	@extend .muted;
	margin-bottom: 6px;
	font-size: 15px;
}
.nav {
	@extend %no-ul;
	@extend %leading;
	li {
		margin-top: 3px;
	}
	a {
		@extend %no-a;
		display: block;
		height: 30px;
		margin: 0 -6px;
		padding: 0 6px;
		border-radius: 2px;
		line-height: 30px;
		&:before {
			float: right;
		}
		&:hover {
			@extend %brand-bg;
			color: white;
		}
	}
}

// page-title
.page-title {
	@extend %inset-page;
	@extend %outset-page;
	@extend %clearfix;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 14px;
	border-bottom: 1px solid $color-medium;
	// background-color: $color-soft;
	// box-shadow: 0 2px 5px -3px rgba(black, .4);
	#{$headings} {
		@extend .h2;
		@extend .muted;
		@extend %no-leading;
		float: left;
		line-height: 30px;
	}
	.actions {
		float: right;
	}
	.counter {
		display: inline-block;
		float: left;
		min-width: 20px;
		margin: 3px 8px;
		padding: 2px;
		border-radius: 50%;
		font-size: inherit;
		line-height: 20px;
		text-align: center;
		color: #fff;
		background: $color-anchor;
		// box-shadow: inset 0 0px 2px 0px rgba(black, .25);
	}
}

.layout-admin {
	.page-title {
		background-color: #fff;
	}
}

// account choice
.account-choice {
	@extend %button;
	@extend %z-index-button;
	@extend %input-border-hover;
	width: 120px;
	height: auto;
	padding: 12px;
	font-weight: bold;
	color: $color-body;
	background-color: #fff;
	&:before {
		@extend %center-block;
	}
	&:hover {
		@extend %z-index-hover;
	}
	&:active {
		@extend %z-index-0;
	}
}

// register landlord
.register-landlord {
	@extend %center-block;
	width: 420px;
	.input-col {
		label {
			@include new-col('width', 6); 
		}
		#{$inputs} {
			@include new-col('width', 6);
		}
		.errorlist {
			@include new-col('offset', 6);
		}
	}
}

// listing - common
.listing {
	@extend %leading;
	@extend %z-index-button;
	overflow: hidden;
	padding: 5px;
	border: 1px solid $color-medium;
}
.listing-photo {
	&.no-photo {
		@extend %icon-no-photo;
		&:before { opacity: .25; height: 90; margin-top: -15px; }
		background-color: $color-soft;
	}
}
.listing-stats {
	@extend .muted;
}
.listing-title {
	@extend %clip;
}
.listing-published {
	@extend .muted;
}

// listing - list
.listings-list {
	@extend %no-ul;
	@include media-object('.listing-photo', 120px, '.listing-description');
	.listing-photo {
		height: 90px;
	}
	.listing-description {
		padding-left: 8px;
	}
	.listing-title {
		@extend .h4;
		clear: right;
	}
	.listing-stats {
		@extend %dl-horizontal;
		dt, dd {
			width: 50%;
		}
		float: right;
		margin: 0;
		margin-left: 8px;
		width: 120px;
	}
}

// tables
.table-layout {
	@extend %text-center;
	table-layout: fixed;
	td {
		@include new-col('width', 1, 5);
	}
}

.table-rent {
	@extend %text-center;
	@extend .td-vr;
	table-layout: fixed;
	td {
		@include new-col('width', 1, 3);
	}
}

.table-overview {
	@extend .table;
	@extend .td-vr;
	.icons {
		div:before {
			@extend %center-block;
		}
	}
	.numbers {
		font-size: $larger;
		font-weight: bold;
	}
	.labels {
		font-size: $smaller;
	}
	td {
		@include new-col('width', 1, 5);
		padding: 0 5px;
		text-align: center;
	}
}

.table-stats {
	td {
		@include new-col('width', 1, 3);
	}
	.bars {
		&:hover {
			cursor: help;
		}
		.bar {
			@extend %popout-container;
		}
		.popout {
			@extend %radius-small;
			padding: 3px;
			top: auto;
			left: 50%;
			bottom: 100%;
			width: 80px;
			margin-bottom: 5px;
			margin-left: -40px;
			text-align: center;
			font-size: $small;
			border-color: $brand-secondary;
			box-shadow: 0 0 2px 0 rgba($brand-secondary, .5);;
		}
	}
}

// badges
.badge {
	@extend %badge;
	&.primary {
		color: #fff;
		background-color: $brand-primary;
	}
	&.active {
		color: #fff;
		background-color: #3dcb4b;
	}
	&.passive {
		@extend .muted;
		background-color: #d6d6d6;
	}
}

.listing-gallery {
	@extend %no-ul;
}

.section-photo {
	position: relative;
	.photo-gallery {
		@extend %no-ul;
		float: right;
		position: absolute;
		top: 0;
		right: 100%;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: $gutter / 2;
		li {
			float: left;
			width: 90px;
			margin-bottom: $gutter / 2;
			margin-left: $gutter / 2;
			border-radius: 3px;
			box-shadow: inset 0 0 2px 0 rgba(black, .25);
			overflow: hidden;
		}
	}
}

// photo
.listing-photo {
	@extend %leading;
	@extend %radius-medium;
	overflow: hidden;
	max-height: 420px;
}

.action-box,
.listing-summary {
	margin-bottom: $leading * 1.5;
	border: 1px solid $color-medium;
	border-radius: 6px;
	padding: $leading;
}
.action-box {
	@extend %text-center;
}

.section {
	position: relative;
	padding-top: $leading;
	border-top: 1px solid $color-soft;
}
.section-title {
	@extend %uppercase;
	margin-bottom: $leading / 2;
	font-size: $smaller;
}

.jump-to-map {
	@extend %button;
	@extend %icon-map;
	@extend %radius-small;
	float: right;
	height: auto;
	padding: 8px;
	border-color: transparent;
	&:before {
		display: block;
	}
	&:hover {
		@extend	%z-index-hover;
		border-color: $color-medium;
		background-color: #fff;
	}
	&:active {
		@extend %z-index-0;
	}
}

.price {
	font-size: $larger;
	color: $brand-red;
}

// sections
// .section {
// 	@extend %row;
// }
// .section-title {
// 	@extend %col;
// 	@include new-col('width', 2);
// 	h3 {
// 		@extend .h5;
// 		@extend .muted;
// 		padding-top: $leading;
// 		border-top: 1px solid $color-medium;
// 	}
// }
// .section-body {
// 	@extend %col;
// 	@include new-col('width', 8);
// 	padding-top: $leading;
// 	border-top: 1px solid $color-medium;
// }

// map
#map-canvas {
	@extend %leading;
	@extend %radius-medium;
	overflow: hidden;
	height: 300px;
}