.topbar .logo, .topbar .search, .topbar .menu, .layout-user .aside, .layout-user .main, .layout-admin .aside, .input-accomodation li, .col, input[type='text'], input[type='number'], input[type='password'], input[type='email'], input[type='search'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='month'], input[type='week'], input[type='tel'], input[type='time'], input[type='url'], select, textarea, .btn, .btn-fake, .input-append label, .input-accomodation label, .menu-item, .account-choice, .jump-to-map, .input-col label, .input-inline label, .search button, .popout, body, .layout-admin .main {
  box-sizing: border-box; }

.layout-user .content:before, .layout-admin .content:before, .input-accomodation ul:before, .row:before, .input-col:before, .clearfix:before, .dl-inline:before, .search:before, .menu:before, .page-title:before, .listings-list:before, .filters label:before, .layout-user .content:after, .layout-admin .content:after, .input-accomodation ul:after, .row:after, .input-col:after, .clearfix:after, .dl-inline:after, .search:after, .menu:after, .page-title:after, .listings-list:after, .filters label:after {
  content: "";
  display: table; }
.layout-user .content:after, .layout-admin .content:after, .input-accomodation ul:after, .row:after, .input-col:after, .clearfix:after, .dl-inline:after, .search:after, .menu:after, .page-title:after, .listings-list:after, .filters label:after {
  clear: both; }

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.container, .topbar .logo, .topbar .search, .topbar .menu, .layout-user .aside, .layout-user .main, .layout-admin .aside, .input-accomodation li, .col {
  padding-left: 12px;
  padding-right: 12px; }

.layout-user .content, .layout-admin .content, .input-accomodation ul, .row {
  margin-left: -12px;
  margin-right: -12px; }

.layout-admin .main, fieldset, .hr-page, .page-title {
  padding-left: 24px;
  padding-right: 24px; }

fieldset, .hr-page, .page-title {
  margin-left: -24px;
  margin-right: -24px; }

.container, .modal, .layout-detail .main, .layout-passage .content, .input-accomodation li label:before, .input-accomodation input, .center-block, .hr-soft, .account-choice:before, .register-landlord, .table-overview .icons div:before {
  margin-left: auto;
  margin-right: auto; }

.container {
  width: 1008px; }

.topbar .logo, .topbar .search, .topbar .menu, .layout-user .aside, .layout-user .main, .layout-admin .aside, .input-accomodation li, .col {
  float: left; }

.col-1 {
  width: 8.33333%; }

.offset-1 {
  margin-left: 8.33333%; }

.push-1 {
  position: relative;
  left: 8.33333%; }

.pull-1 {
  position: relative;
  left: -8.33333%; }

.col-2 {
  width: 16.66667%; }

.offset-2 {
  margin-left: 16.66667%; }

.push-2 {
  position: relative;
  left: 16.66667%; }

.pull-2 {
  position: relative;
  left: -16.66667%; }

.col-3 {
  width: 25%; }

.offset-3 {
  margin-left: 25%; }

.push-3 {
  position: relative;
  left: 25%; }

.pull-3 {
  position: relative;
  left: -25%; }

.col-4 {
  width: 33.33333%; }

.offset-4 {
  margin-left: 33.33333%; }

.push-4 {
  position: relative;
  left: 33.33333%; }

.pull-4 {
  position: relative;
  left: -33.33333%; }

.col-5 {
  width: 41.66667%; }

.offset-5 {
  margin-left: 41.66667%; }

.push-5 {
  position: relative;
  left: 41.66667%; }

.pull-5 {
  position: relative;
  left: -41.66667%; }

.col-6 {
  width: 50%; }

.offset-6 {
  margin-left: 50%; }

.push-6 {
  position: relative;
  left: 50%; }

.pull-6 {
  position: relative;
  left: -50%; }

.col-7 {
  width: 58.33333%; }

.offset-7 {
  margin-left: 58.33333%; }

.push-7 {
  position: relative;
  left: 58.33333%; }

.pull-7 {
  position: relative;
  left: -58.33333%; }

.col-8 {
  width: 66.66667%; }

.offset-8 {
  margin-left: 66.66667%; }

.push-8 {
  position: relative;
  left: 66.66667%; }

.pull-8 {
  position: relative;
  left: -66.66667%; }

.col-9 {
  width: 75%; }

.offset-9 {
  margin-left: 75%; }

.push-9 {
  position: relative;
  left: 75%; }

.pull-9 {
  position: relative;
  left: -75%; }

.col-10 {
  width: 83.33333%; }

.offset-10 {
  margin-left: 83.33333%; }

.push-10 {
  position: relative;
  left: 83.33333%; }

.pull-10 {
  position: relative;
  left: -83.33333%; }

.col-11 {
  width: 91.66667%; }

.offset-11 {
  margin-left: 91.66667%; }

.push-11 {
  position: relative;
  left: 91.66667%; }

.pull-11 {
  position: relative;
  left: -91.66667%; }

.col-12 {
  width: 100%; }

.offset-12 {
  margin-left: 100%; }

.push-12 {
  position: relative;
  left: 100%; }

.pull-12 {
  position: relative;
  left: -100%; }

.table, .table-list, .table-overview, .text-left {
  text-align: left; }

.text-center, .table-layout, .table-rent, .td-badge, .action-box, .copyright {
  text-align: center; }

.text-right, .listings-list .listing-stats {
  text-align: right; }

.text-justifiy {
  text-align: justifiy; }

.topbar, .nav a:hover {
  background-color: #4088d4;
  background: linear-gradient(to right, #396ccf 0%, #47a5da 100%); }

.content, .table, .table-list, .table-overview, .input-block, .input-col, .input-inline, .input-append, .input-accomodation ul, .contracts, fieldset, fieldset legend, h1, h2, h3, h4, h5, h6, p, .p, .dl-inline, .topbar, .nav, .listing, .listing-photo, .filters, .map {
  margin-top: auto;
  margin-bottom: 20px; }

.btn, .btn-fake, fieldset legend, .nav-title, .section-title, .filter-name {
  text-transform: uppercase;
  letter-spacing: .03em; }

.input-inline label, .input-append label, .no-br, .dl-inline dt, .listing-title, .listing-address, .filters label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.availability {
  white-space: nowrap; }

.nav a {
  color: inherit;
  text-decoration: none; }

.errorlist, .section-photo .photo-gallery, .no-ul, .nav, .listings-list, .listing-gallery, .filter-list ul {
  list-style: none;
  padding-left: 0; }

.errorlist, .no-leading, .page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6, .copyright {
  margin-bottom: 0; }

.badge, .td-badge {
  display: inline-block;
  padding: .2em .25em;
  border-radius: 2px;
  font-size: 90%;
  line-height: 1; }

.popout {
  z-index: 50;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25); }

.layout-admin .main {
  z-index: 100;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25); }

.btn, .account-choice {
  z-index: 100;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.25); }

.btn:hover, .btn-fake:hover, .input-accomodation label:hover, .menu-item:hover, .account-choice:hover, .jump-to-map:hover {
  z-index: 100;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.4); }

.disabled.btn, .disabled.btn-fake, input.disabled[type='text'], input.disabled[type='number'], input.disabled[type='password'], input.disabled[type='email'], input.disabled[type='search'], input.disabled[type='date'], input.disabled[type='datetime'], input.disabled[type='datetime-local'], input.disabled[type='month'], input.disabled[type='week'], input.disabled[type='tel'], input.disabled[type='time'], input.disabled[type='url'], select.disabled, textarea.disabled, .disabled.btn:hover, .disabled.btn-fake:hover, input.disabled[type='text']:hover, input.disabled[type='number']:hover, input.disabled[type='password']:hover, input.disabled[type='email']:hover, input.disabled[type='search']:hover, input.disabled[type='date']:hover, input.disabled[type='datetime']:hover, input.disabled[type='datetime-local']:hover, input.disabled[type='month']:hover, input.disabled[type='week']:hover, input.disabled[type='tel']:hover, input.disabled[type='time']:hover, input.disabled[type='url']:hover, select.disabled:hover, textarea.disabled:hover, .disabled.btn:focus, .disabled.btn-fake:focus, input.disabled[type='text']:focus, input.disabled[type='number']:focus, input.disabled[type='password']:focus, input.disabled[type='email']:focus, input.disabled[type='search']:focus, input.disabled[type='date']:focus, input.disabled[type='datetime']:focus, input.disabled[type='datetime-local']:focus, input.disabled[type='month']:focus, input.disabled[type='week']:focus, input.disabled[type='tel']:focus, input.disabled[type='time']:focus, input.disabled[type='url']:focus, select.disabled:focus, textarea.disabled:focus, .disabled.btn:active, .disabled.btn-fake:active, input.disabled[type='text']:active, input.disabled[type='number']:active, input.disabled[type='password']:active, input.disabled[type='email']:active, input.disabled[type='search']:active, input.disabled[type='date']:active, input.disabled[type='datetime']:active, input.disabled[type='datetime-local']:active, input.disabled[type='month']:active, input.disabled[type='week']:active, input.disabled[type='tel']:active, input.disabled[type='time']:active, input.disabled[type='url']:active, select.disabled:active, textarea.disabled:active, [disabled].btn, [disabled].btn-fake, input[disabled][type='text'], input[disabled][type='number'], input[disabled][type='password'], input[disabled][type='email'], input[disabled][type='search'], input[disabled][type='date'], input[disabled][type='datetime'], input[disabled][type='datetime-local'], input[disabled][type='month'], input[disabled][type='week'], input[disabled][type='tel'], input[disabled][type='time'], input[disabled][type='url'], select[disabled], textarea[disabled], [disabled].btn:hover, [disabled].btn-fake:hover, input[disabled][type='text']:hover, input[disabled][type='number']:hover, input[disabled][type='password']:hover, input[disabled][type='email']:hover, input[disabled][type='search']:hover, input[disabled][type='date']:hover, input[disabled][type='datetime']:hover, input[disabled][type='datetime-local']:hover, input[disabled][type='month']:hover, input[disabled][type='week']:hover, input[disabled][type='tel']:hover, input[disabled][type='time']:hover, input[disabled][type='url']:hover, select[disabled]:hover, textarea[disabled]:hover, [disabled].btn:focus, [disabled].btn-fake:focus, input[disabled][type='text']:focus, input[disabled][type='number']:focus, input[disabled][type='password']:focus, input[disabled][type='email']:focus, input[disabled][type='search']:focus, input[disabled][type='date']:focus, input[disabled][type='datetime']:focus, input[disabled][type='datetime-local']:focus, input[disabled][type='month']:focus, input[disabled][type='week']:focus, input[disabled][type='tel']:focus, input[disabled][type='time']:focus, input[disabled][type='url']:focus, select[disabled]:focus, textarea[disabled]:focus, [disabled].btn:active, [disabled].btn-fake:active, input[disabled][type='text']:active, input[disabled][type='number']:active, input[disabled][type='password']:active, input[disabled][type='email']:active, input[disabled][type='search']:active, input[disabled][type='date']:active, input[disabled][type='datetime']:active, input[disabled][type='datetime-local']:active, input[disabled][type='month']:active, input[disabled][type='week']:active, input[disabled][type='tel']:active, input[disabled][type='time']:active, input[disabled][type='url']:active, select[disabled]:active, textarea[disabled]:active, .btn:active, .btn-fake:active, .input-accomodation label:active, .menu-item, .account-choice:active, .jump-to-map:active {
  z-index: 1;
  box-shadow: none; }

input[type='text'], input[type='number'], input[type='password'], input[type='email'], input[type='search'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='month'], input[type='week'], input[type='tel'], input[type='time'], input[type='url'], select, textarea, .btn, .btn-fake, .input-append label, .input-accomodation label, .menu-item, .account-choice, .jump-to-map, .input-col label, .input-inline label, .search button {
  height: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid transparent;
  line-height: 20px;
  vertical-align: middle; }

input[type='text']:focus, input[type='number']:focus, input[type='password']:focus, input[type='email']:focus, input[type='search']:focus, input[type='date']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input[type='month']:focus, input[type='week']:focus, input[type='tel']:focus, input[type='time']:focus, input[type='url']:focus, select:focus, textarea:focus, .btn:focus, .btn-fake:focus, .input-append label:focus, .input-accomodation label:focus, .menu-item:focus, .account-choice:focus, .jump-to-map:focus {
  outline: none;
  border-color: #4283d6 !important;
  box-shadow: 0 0 2px 1px rgba(66, 131, 214, 0.5); }

input[type='text'], input[type='number'], input[type='password'], input[type='email'], input[type='search'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='month'], input[type='week'], input[type='tel'], input[type='time'], input[type='url'], select, textarea, .btn.default, .input-append label, .input-accomodation label, .account-choice {
  border-color: #ddd; }
  input[type='text']:hover, input[type='number']:hover, input[type='password']:hover, input[type='email']:hover, input[type='search']:hover, input[type='date']:hover, input[type='datetime']:hover, input[type='datetime-local']:hover, input[type='month']:hover, input[type='week']:hover, input[type='tel']:hover, input[type='time']:hover, input[type='url']:hover, select:hover, textarea:hover, .btn.default:hover, .input-append label:hover, .input-accomodation label:hover, .account-choice:hover {
    border-color: #c4c4c4; }

.disabled.btn, .disabled.btn-fake, input.disabled[type='text'], input.disabled[type='number'], input.disabled[type='password'], input.disabled[type='email'], input.disabled[type='search'], input.disabled[type='date'], input.disabled[type='datetime'], input.disabled[type='datetime-local'], input.disabled[type='month'], input.disabled[type='week'], input.disabled[type='tel'], input.disabled[type='time'], input.disabled[type='url'], select.disabled, textarea.disabled, .disabled.btn:hover, .disabled.btn-fake:hover, input.disabled[type='text']:hover, input.disabled[type='number']:hover, input.disabled[type='password']:hover, input.disabled[type='email']:hover, input.disabled[type='search']:hover, input.disabled[type='date']:hover, input.disabled[type='datetime']:hover, input.disabled[type='datetime-local']:hover, input.disabled[type='month']:hover, input.disabled[type='week']:hover, input.disabled[type='tel']:hover, input.disabled[type='time']:hover, input.disabled[type='url']:hover, select.disabled:hover, textarea.disabled:hover, .disabled.btn:focus, .disabled.btn-fake:focus, input.disabled[type='text']:focus, input.disabled[type='number']:focus, input.disabled[type='password']:focus, input.disabled[type='email']:focus, input.disabled[type='search']:focus, input.disabled[type='date']:focus, input.disabled[type='datetime']:focus, input.disabled[type='datetime-local']:focus, input.disabled[type='month']:focus, input.disabled[type='week']:focus, input.disabled[type='tel']:focus, input.disabled[type='time']:focus, input.disabled[type='url']:focus, select.disabled:focus, textarea.disabled:focus, .disabled.btn:active, .disabled.btn-fake:active, input.disabled[type='text']:active, input.disabled[type='number']:active, input.disabled[type='password']:active, input.disabled[type='email']:active, input.disabled[type='search']:active, input.disabled[type='date']:active, input.disabled[type='datetime']:active, input.disabled[type='datetime-local']:active, input.disabled[type='month']:active, input.disabled[type='week']:active, input.disabled[type='tel']:active, input.disabled[type='time']:active, input.disabled[type='url']:active, select.disabled:active, textarea.disabled:active, [disabled].btn, [disabled].btn-fake, input[disabled][type='text'], input[disabled][type='number'], input[disabled][type='password'], input[disabled][type='email'], input[disabled][type='search'], input[disabled][type='date'], input[disabled][type='datetime'], input[disabled][type='datetime-local'], input[disabled][type='month'], input[disabled][type='week'], input[disabled][type='tel'], input[disabled][type='time'], input[disabled][type='url'], select[disabled], textarea[disabled], [disabled].btn:hover, [disabled].btn-fake:hover, input[disabled][type='text']:hover, input[disabled][type='number']:hover, input[disabled][type='password']:hover, input[disabled][type='email']:hover, input[disabled][type='search']:hover, input[disabled][type='date']:hover, input[disabled][type='datetime']:hover, input[disabled][type='datetime-local']:hover, input[disabled][type='month']:hover, input[disabled][type='week']:hover, input[disabled][type='tel']:hover, input[disabled][type='time']:hover, input[disabled][type='url']:hover, select[disabled]:hover, textarea[disabled]:hover, [disabled].btn:focus, [disabled].btn-fake:focus, input[disabled][type='text']:focus, input[disabled][type='number']:focus, input[disabled][type='password']:focus, input[disabled][type='email']:focus, input[disabled][type='search']:focus, input[disabled][type='date']:focus, input[disabled][type='datetime']:focus, input[disabled][type='datetime-local']:focus, input[disabled][type='month']:focus, input[disabled][type='week']:focus, input[disabled][type='tel']:focus, input[disabled][type='time']:focus, input[disabled][type='url']:focus, select[disabled]:focus, textarea[disabled]:focus, [disabled].btn:active, [disabled].btn-fake:active, input[disabled][type='text']:active, input[disabled][type='number']:active, input[disabled][type='password']:active, input[disabled][type='email']:active, input[disabled][type='search']:active, input[disabled][type='date']:active, input[disabled][type='datetime']:active, input[disabled][type='datetime-local']:active, input[disabled][type='month']:active, input[disabled][type='week']:active, input[disabled][type='tel']:active, input[disabled][type='time']:active, input[disabled][type='url']:active, select[disabled]:active, textarea[disabled]:active {
  cursor: default;
  border-color: transparent;
  color: gray;
  background-color: #eee; }

input[type='text'], input[type='number'], input[type='password'], input[type='email'], input[type='search'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='month'], input[type='week'], input[type='tel'], input[type='time'], input[type='url'], select, textarea {
  box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.25); }

.btn, .btn-fake, .input-append label, .input-accomodation label, .menu-item, .account-choice, .jump-to-map {
  display: inline-block;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  text-align: center;
  transition: all 120ms ease-out; }
  .btn:hover, .btn-fake:hover, .input-append label:hover, .input-accomodation label:hover, .menu-item:hover, .account-choice:hover, .jump-to-map:hover {
    cursor: pointer; }

.table-stats .bars .popout, .listing, .jump-to-map {
  border-radius: 3px; }

.listing-photo, .filter-map .img, .map {
  border-radius: 6px; }

[data-popout], .table-stats .bars .bar {
  position: relative; }

.popout {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 8px;
  border: 1px solid #aaa;
  background-color: #fff; }
  .active.popout {
    display: block; }
  .right.popout {
    right: 0;
    left: auto; }

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 72px 24px;
  background: rgba(0, 0, 0, 0.75); }

.modal {
  display: none;
  padding: 24px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5); }
  .active.modal {
    display: block; }

.modal-title {
  margin: -24px -24px 24px;
  padding: 12px 24px;
  background-color: #eee;
  border-bottom: 1px solid #ddd; }

html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 30px; }

.topbar .logo {
  width: 20%; }
.topbar .search {
  width: 40%; }
.topbar .menu {
  width: 40%; }

.bottombar {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: -30px;
  line-height: 30px; }

.layout-user .aside {
  width: 25%; }
.layout-user .main {
  width: 75%; }

.layout-detail .main {
  width: 60%; }

.layout-admin {
  background-color: #eee; }
  .layout-admin .aside {
    width: 20%;
    padding-right: 24px; }
  .layout-admin .main {
    width: 80%;
    float: left;
    background-color: #fff; }

.layout-passage .logo {
  margin-top: 5em;
  text-align: center; }
  .layout-passage .logo .img {
    display: inline-block; }
.layout-passage .content {
  max-width: 40em; }
  .layout-passage .content h1 {
    color: #396ccf; }

.table, .table-list, .table-overview {
  width: 100%; }
  .table th, .table-list th, .table-overview th {
    font-weight: normal; }

.table-simple, .table-list {
  text-align: left; }
  .table-simple th, .table-list th {
    font-weight: normal; }
  .table-simple td, .table-list td, .table-simple th, .table-list th {
    padding: 5px 8px; }
  .table-simple tbody tr, .table-list tbody tr {
    border-top: 1px solid #eee; }

.td-vr td, .table-rent td, .table-overview td {
  border-right: 1px solid #ddd; }
  .td-vr td:last-child, .table-rent td:last-child, .table-overview td:last-child {
    border-right: 0; }

.btn {
  font-size: 90%;
  font-weight: bold; }
  .btn.default {
    color: #444;
    background-color: #fff; }
  .btn.primary {
    border-color: #396ccf;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background-color: #396ccf; }
    .btn.primary:hover {
      background: #4e7bd4; }
    .btn.primary:active {
      background: #2f60c0; }
  .btn.success {
    border-color: #3dcb4b;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background-color: #3dcb4b; }
    .btn.success:hover {
      background: #51d05e; }
    .btn.success:active {
      background: #32bc40; }

.btn-fake {
  border-color: transparent;
  font-size: 90%;
  font-weight: bold;
  color: inherit; }
  .btn-fake:hover {
    border-color: #ddd;
    background-color: #fff; }

input[type='text'], input[type='number'], input[type='password'], input[type='email'], input[type='search'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='month'], input[type='week'], input[type='tel'], input[type='time'], input[type='url'], select, textarea {
  padding-left: 5px;
  padding-right: 5px; }

label[for] {
  cursor: pointer; }

.input-block input, .input-block select, .input-block textarea {
  display: block;
  width: 100%; }

.input-col label,
.input-col input, .input-col select, .input-col textarea {
  float: left;
  min-width: 25%; }

.input-inline label {
  display: inline-block;
  min-width: 120px; }

.errorlist {
  clear: both;
  color: red; }

.input-accomodation li:nth-child(1) label:before, .input-accomodation li:nth-child(2) label:before, .input-accomodation li:nth-child(3) label:before, .input-accomodation li:nth-child(4) label:before, .listing-thumbnail .img.no-photo:before, .icon-reports:before, .icon-settings:before, .icon-listings:before, .icon-landlords:before, .icon-customers:before, .icon-contracts:before, .icon-overview:before, .icon-visitors:before, .icon-rooms:before, .icon-bedrooms:before, .icon-size:before, .icon-bathrooms:before, .icon-toilets:before, .icon-map:before, .jump-to-map:before {
  content: "";
  display: inline-block;
  overflow: hidden;
  background-image: url("../img/ah-icons.png"); }

.input-accomodation li:nth-child(1) label:before {
  width: 90px;
  height: 90px;
  background-position: 0px 0px; }

.input-accomodation li:nth-child(2) label:before {
  width: 90px;
  height: 90px;
  background-position: -90px 0px; }

.input-accomodation li:nth-child(3) label:before {
  width: 90px;
  height: 90px;
  background-position: -180px 0px; }

.input-accomodation li:nth-child(4) label:before {
  width: 90px;
  height: 90px;
  background-position: -270px 0px; }

.listing-thumbnail .img.no-photo:before {
  width: 90px;
  height: 90px;
  background-position: -360px 0px; }

.icon-reports:before {
  width: 30px;
  height: 30px;
  background-position: 0px -90px; }

.icon-settings:before {
  width: 30px;
  height: 30px;
  background-position: -30px -90px; }

.icon-listings:before {
  width: 30px;
  height: 30px;
  background-position: -60px -90px; }

.icon-landlords:before {
  width: 30px;
  height: 30px;
  background-position: -90px -90px; }

.icon-customers:before {
  width: 30px;
  height: 30px;
  background-position: -120px -90px; }

.icon-contracts:before {
  width: 30px;
  height: 30px;
  background-position: -150px -90px; }

.icon-overview:before {
  width: 30px;
  height: 30px;
  background-position: -180px -90px; }

.icon-visitors:before {
  width: 30px;
  height: 30px;
  background-position: -240px -90px; }

.icon-rooms:before {
  width: 30px;
  height: 30px;
  background-position: -270px -90px; }

.icon-bedrooms:before {
  width: 30px;
  height: 30px;
  background-position: -300px -90px; }

.icon-size:before {
  width: 30px;
  height: 30px;
  background-position: -330px -90px; }

.icon-bathrooms:before {
  width: 30px;
  height: 30px;
  background-position: -360px -90px; }

.icon-toilets:before {
  width: 30px;
  height: 30px;
  background-position: -390px -90px; }

.icon-map:before, .jump-to-map:before {
  width: 30px;
  height: 30px;
  background-position: -420px -90px; }

.input-append {
  display: table;
  width: 100%;
  vertical-align: middle; }
  .input-append label,
  .input-append input,
  .input-append select {
    display: table-cell;
    border-radius: 0; }
  .input-append label {
    width: 96px;
    border-right: 0;
    font-size: 90%;
    background-color: #eee; }
  .input-append input,
  .input-append select {
    position: relative;
    z-index: 2;
    width: 100%; }

.input-accomodation li {
  width: 25%; }
.input-accomodation label {
  display: block !important;
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  text-align: center; }
.input-accomodation input {
  display: block;
  width: 30px; }

.contracts {
  width: 100%; }

fieldset {
  border: 0;
  border-top: 1px solid #ddd; }
  fieldset legend {
    padding-right: 12px;
    text-align: center;
    font-size: 90%;
    padding: 0 12px; }

.section-photo {
  position: relative; }
  .section-photo .photo-gallery {
    float: right;
    position: absolute;
    top: 0;
    right: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 12px; }
    .section-photo .photo-gallery li {
      float: left;
      width: 90px;
      margin-bottom: 12px;
      margin-left: 12px;
      border-radius: 3px;
      box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.25);
      overflow: hidden; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

body {
  position: relative;
  font-family: "Karla", sans-serif;
  font-size: 100%;
  line-height: 1.4;
  color: #444;
  text-rendering: optimizeLegibility; }

.small, .errorlist, .copyright,
small {
  font-size: 90%; }

.large {
  font-size: 120%; }

.muted, .table-simple th, .table-list th, fieldset legend, .quiet, .copyright, .dl-inline dt, .modal-title h2, .nav-title, .page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6, .badge.passive, .passive.td-badge, .listing-published, .filter-name {
  color: gray; }

.quiet a, .copyright a {
  color: #676767; }
  .quiet a:hover, .copyright a:hover {
    color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Karla", sans-serif;
  line-height: 1.2;
  font-weight: normal; }

a {
  color: #05B;
  text-decoration: none; }

.h1 {
  font-size: 2rem; }

.h2, .page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6 {
  font-size: 1.8rem; }

.h3 {
  font-size: 1.6rem; }

.h4, .listing-title, .price {
  font-size: 1.4rem; }

.h5 {
  font-size: 1.2rem; }

.h6 {
  font-size: 1rem; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 0;
  border: 0;
  border-bottom: 1px solid #ddd; }

.hr-soft {
  max-width: 5em; }

.dl-inline dt {
  float: left;
  width: 160px; }
.dl-inline dd {
  margin-left: 160px; }
.dl-inline dt, .dl-inline dd {
  margin-top: 3px; }
.dl-inline dt {
  clear: left; }
.dl-inline dd {
  font-weight: bold; }

.img img {
  display: block;
  max-width: 100%;
  height: auto; }

[data-popout='hover']:hover .popout {
  display: block; }

.modal-open {
  overflow: hidden; }

.modal-open .modal-container {
  display: block;
  overflow: hidden; }

.modal-title h2 {
  margin-bottom: 0; }

.modal-map {
  position: absolute;
  top: 60px;
  right: 60px;
  bottom: 60px;
  left: 60px;
  padding: 3px; }
  .modal-map .map-full {
    width: 100%;
    height: 100%; }

.topbar {
  padding: 15px; }
  .topbar .logo {
    margin-top: -9px;
    margin-bottom: -9px; }

.search input,
.search button {
  position: relative;
  float: left;
  border: 0; }
.search input {
  width: 83.33333%;
  border-radius: 3px 0 0 3px;
  box-shadow: none; }
  .search input:hover, .search input:focus {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    z-index: 5; }
.search button {
  width: 16.66667%;
  color: #fff;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 0, 0, 0.25); }
  .search button:hover, .search button:focus {
    background-color: rgba(0, 0, 0, 0.4); }

.menu-item {
  float: right;
  display: block;
  margin-left: 12px;
  padding-left: 8px;
  padding-right: 8px;
  color: #fff; }
  .menu-item:hover {
    border-color: #ffcc66;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background-color: #ffcc66;
    color: #444; }
    .menu-item:hover:hover {
      background: #ffd480; }
    .menu-item:hover:active {
      background: #ffc34d; }
  .menu-item:active {
    box-shadow: 0 2px 2px -1px transparent; }

.nav-title {
  margin-bottom: 6px;
  font-size: 15px; }

.nav li {
  margin-top: 3px; }
.nav a {
  display: block;
  height: 30px;
  margin: 0 -6px;
  padding: 0 6px;
  border-radius: 2px;
  line-height: 30px; }
  .nav a:before {
    float: right; }
  .nav a:hover {
    color: white; }

.page-title {
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ddd; }
  .page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6 {
    float: left;
    line-height: 30px; }
  .page-title .actions {
    float: right; }
  .page-title .counter {
    display: inline-block;
    float: left;
    min-width: 20px;
    margin: 3px 8px;
    padding: 2px;
    border-radius: 50%;
    font-size: inherit;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #05B; }

.layout-admin .page-title {
  background-color: #fff; }

.account-choice {
  width: 120px;
  height: auto;
  padding: 12px;
  font-weight: bold;
  color: #444;
  background-color: #fff; }

.register-landlord {
  width: 420px; }
  .register-landlord .input-col label {
    width: 50%; }
  .register-landlord .input-col input, .register-landlord .input-col select, .register-landlord .input-col textarea {
    width: 50%; }
  .register-landlord .input-col .errorlist {
    margin-left: 50%; }

.table-list .col-status {
  width: 60px; }

.table-layout {
  table-layout: fixed; }
  .table-layout td {
    width: 20%; }

.table-rent {
  table-layout: fixed; }
  .table-rent td {
    width: 33.33333%; }

.table-overview {
  table-layout: fixed; }
  .table-overview .numbers {
    font-size: 120%;
    font-weight: bold; }
  .table-overview .labels {
    font-size: 90%; }
  .table-overview td {
    width: 20%;
    padding: 0 5px;
    text-align: center; }

.table-stats {
  table-layout: fixed; }
  .table-stats th, .table-stats td {
    padding: 3px 6px; }
  .table-stats .bars:hover {
    cursor: help; }
  .table-stats .bars .popout {
    padding: 3px;
    top: auto;
    left: 50%;
    bottom: 100%;
    width: 80px;
    margin-bottom: 5px;
    margin-left: -40px;
    text-align: center;
    font-size: 13px;
    border-color: #47a5da;
    box-shadow: 0 0 2px 0 rgba(71, 165, 218, 0.5); }

.badge.primary, .primary.td-badge {
  color: #fff;
  background-color: #396ccf; }
.badge.active, .active.td-badge {
  color: #fff;
  background-color: #3dcb4b; }
.badge.passive, .passive.td-badge {
  background-color: #d6d6d6; }
.badge.new, .new.td-badge {
  background-color: #ffcc66; }
.badge.terminated, .terminated.td-badge {
  color: #fff;
  background-color: #a52a2a; }
.badge.occupied, .occupied.td-badge {
  color: #fff;
  background-color: #a52a2a; }

.td-badge {
  display: block;
  min-width: 100%; }

.bars {
  height: 6px;
  background-color: #eee;
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.4); }

.bar {
  float: left;
  height: 100%; }
  .bar.new {
    background-color: #ffcc66; }
  .bar.active {
    background-color: #3dcb4b; }
  .bar.passive {
    background-color: #d6d6d6; }
  .bar.terminated {
    background-color: #a52a2a; }
  .bar.occupied {
    background-color: #a52a2a; }

.listing {
  overflow: hidden;
  padding: 5px;
  border: 1px solid #ddd; }
  .listing:hover {
    cursor: pointer;
    background-color: #eee; }

.listing-thumbnail {
  overflow: hidden; }
  .listing-thumbnail .img img {
    width: 150%; }
  .listing-thumbnail .img.no-photo {
    background-color: #eee; }
    .listing-thumbnail .img.no-photo:before {
      margin-left: 15px;
      opacity: .25; }

.price {
  font-size: 120%;
  color: #a52a2a; }

.availability {
  color: #32bc40; }
  .availability.now {
    font-weight: bold; }

.listings-list .listing-thumbnail {
  float: left;
  width: 120px; }
.listings-list .listing-body {
  margin-left: 120px; }
.listings-list .listing-thumbnail {
  height: 90px;
  margin: -5px;
  border-right: 1px solid #ddd; }
.listings-list .listing-body {
  padding: 0 8px 0 12px; }
.listings-list .listing-stats {
  float: right;
  margin-left: 12px;
  width: 180px; }

.listing-photo {
  overflow: hidden;
  max-height: 420px; }

.action-box,
.listing-summary {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px; }

.section {
  position: relative;
  padding-top: 20px;
  border-top: 1px solid #eee; }

.section-title {
  margin-bottom: 10px;
  font-size: 90%; }

.filters {
  font-size: 14px; }
  .filters label {
    display: block; }

.filter-section {
  padding-top: 10px;
  border-top: 1px solid #eee; }

.filter-list {
  margin-top: 10px;
  margin-bottom: 10px; }

.filter-map .img {
  display: block;
  overflow: hidden; }
.filter-map a:hover {
  cursor: pointer; }

.collapsed {
  height: 0;
  overflow: hidden; }

[data-toggle]:hover {
  cursor: pointer; }

.jump-to-map {
  float: right;
  height: auto;
  padding: 8px;
  border-color: transparent; }
  .jump-to-map:before {
    display: block; }
  .jump-to-map:hover {
    border-color: #ddd;
    background-color: #fff; }

.map {
  overflow: hidden;
  height: 300px; }

/*# sourceMappingURL=main.css.map */
