{% extends '_layout_landlord.html' %}

{% load utils %}

{% block page-title %}
  <div class="page-title">
    <h1>My Listings <small>&raquo; Photos</small></h1>
  </div>
{% endblock %}

{% block content %}

  <h1>Listing photos</h1>

  {% if listing.photos.exists %}

    <ul>
      {% for photo in listing.photos.all %}
        <li>
          <a href="{{ photo.name.url }}">{{ photo.name|filename }}</a>
          <a href="{% url 'listings_photos_delete' pk=listing.pk photo_pk=photo.pk %}"><small>delete</small></a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% include 'landlord/_photo_upload.html' %}

{% endblock %}
