{% extends '_layout_landlord.html' %}

{% block content %}

  <h1>My Listings</h1>

  <p>  <a class="btn btn-primary" href="{% url 'listings_add' %}">Add Listing</a></p>



  <ol class="listing">
    {% for listing in object_list %}
    <li>
      <div class="housing-listed">

        <div class="housing-type"> {{ listing.title }} </div>

        
        <div class="photo no-photo">
          <div class="muted">No photo</div>
          <a class="btn btn-success" data-modal=".modal-add-photo">Add photo</a>
        </div>
        <!-- <div class="photo img">
          <img src="" alt="" />
        </div> -->
        <a class="housing-title" href="{{ url }}">
          {{ listing.address_city }},
          {{ listing.address_address }}
        </a>
        
        <!-- Views -->
        <!-- Status -->
      </div>
    </li>
    {% endfor %}
  </ol>

{% endblock %}

{% block modal %}
  <div class="modal modal-add-photo">
    Hello
  </div>
{% endblock %}
