{% extends '_layout_landlord.html' %}

{% block page-title %}
	<div class="page-title">
		<h1>
			{% if object %}
				Edit listing
			{% else %}
				Add a new listing
			{% endif %}
		</h1>
		<div class="actions">
			<a href="" class="btn-fake">Cancel</a>
		</div>
	</div>
{% endblock %}


{% block content %}
  <form method="POST">
    {% csrf_token %}

		<div class="input-group input-inline input-accomodation">
			{{ form.accomodation }}
			{{ form.accomodation.errors }}
		</div>

		<fieldset>
			<legend>Address</legend>

			<div class="row">
					<label for="id_address_address" class="col col-3">Address</label>
					<div class="input-group col col-6">
						{{ form.address_address }}
						{{ form.address_address.errors }}
					</div>
			</div>
			<div class="row">
				<div class="col col-6 offset-3">
					<div class="row">
						
							<div class="col col-6">
								<div class="input-group">
									<label for="id_address_zipcode">Zip code</label>
									{{ form.address_zipcode }}
									{{ form.address_zipcode.errors }}
								</div>
							</div>
							<div class="col col-6">
								<div class="input-group">
									<label for="id_address_district">District</label>
									{{ form.address_district }}
									{{ form.address_district.errors }}
								</div>
							</div>

					</div>
				</div>
			</div>

<!-- 			<div class="row">
				<div class="col col-6">
					<div class="input-group">
						<label for="id_address_city">City</label>
						{{ form.address_city }}
						{{ form.address_city.errors }}
					</div>
				</div> -->

			<!-- </div> -->
			
		</fieldset>

		<fieldset>
			<legend>Layout</legend>

			<div class="input-group">
				<label id="id_rooms">Rooms</label>
				{{ form.rooms }}
				{{ form.rooms.errors }}
			</div>
			
			<div class="input-group">
				<label for="id_bedrooms">Bedrooms</label>
				{{ form.bedrooms }}
				{{ form.bedrooms.errors }}
			</div>
			
			<div class="input-group">
				<label for="id_bathrooms">Bathrooms</label>
				{{ form.bathrooms }}
				{{ form.bathrooms.errors }}
			</div>
			
			<div class="input-group">
				<label for="id_toilets">Toilets</label>
				{{ form.toilets }}
				{{ form.toilets.errors }}
			</div>

		</fieldset>

		<fieldset>
			<legend>Amenities</legend>
			
			<div class="input-group">
				<label for="id_outdoor">Outdoor</label>
				{{ form.outdoor }}
				{{ form.outdoor.errors }}
			</div>
			
			<div class="input-group">
				<label for="id_outdoor_size">Outdoor size</label>
				{{ form.outdoor_size }}
				{{ form.outdoor_size.errors }}
			</div>
			
			<div class="input-group">
				<label for="id_heating">Heating</label>
				{{ form.heating }}
				{{ form.heating.errors }}
			</div>
			
			<div class="input-group">
				<label for="id_heating_emission">Heating emission</label>
				{{ form.heating_emission }}
				{{ form.heating_emission.errors }}
			</div>
			
			<div class="input-group">
				<label for="id_furnished">Furnished</label>
				{{ form.furnished }}
				
			</div>
			<div class="input-group">
				<label for="id_parking">Parking</label>
				{{ form.parking }}
				{{ form.parking.errors }}
			</div>

		</fieldset>

		<fieldset>
			<legend>Accomodation</legend>

			<div class="row">
				<div class="col col-6">
					<div class="input-group">
						<label for="id_year">Year</label>
						{{ form.year }}
						{{ form.year.errors }}
					</div>

					<div class="input-group">
						<label for="id_size">Size</label>
						{{ form.size }}
						{{ form.size.errors }}
					</div>
				</div>
				<div class="col col-6">
					<div class="input-group">
						<label for="id_floor">Floor</label>
						{{ form.floor }}
						{{ form.floor.errors }}
					</div>

					<div class="input-group">
						<label for="id_elevator">Elevator</label>
						{{ form.elevator }}
						{{ form.elevator.errors }}
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>Costs</legend>
				
			<div class="row">
				<div class="col col-4 input-group">
					<label for="id_rent">Rent</label>
					{{ form.rent }}
					{{ form.rent.errors }}
				</div>
			
				<div class="col col-4 input-group">
					<label for="id_deposit">Deposit</label>
					{{ form.deposit }}
					{{ form.deposit.errors }}
				</div>
				
				<div class="col col-4 input-group">
					<label for="id_lease">Lease</label>
					{{ form.lease }}
					{{ form.lease.errors }}
				</div>
			</div>

		</fieldset>

			<!-- <small>
				{{ form.as_p }}
			</small> -->
		<button class="btn btn-primary" type="submit">Save</button>
	</form>
{% endblock %}
