{% extends '_layout_landlord.html' %}

{% block content %}

  <h1>My Listings</h1>

  <p>  <a class="btn btn-primary" href="{% url 'listings_add' %}">Add Listing</a></p>



  <ol class="listing">
    {% for listing in object_list %}
    <li>
      <div class="housing-listed">

        <div class="housing-type"> {{ listing.title }} </div>

        {% if not listing.photos.count %}
          <div class="photo no-photo">
            <div class="muted">No photo</div>
            <a class="btn btn-success" data-modal=".modal-add-photo" data-listing="{{ listing.id }}">Add photo</a>
          </div>
        {% else %}
          <div class="photo img">
            <img src="{{ listing.photos.first.name.url }}" alt="" />
          </div>
        {% endif %}
        <a class="housing-title" href="{{ url }}">
          {{ listing.address_city }},
          {{ listing.address_address }}
        </a>

        <!-- Views -->
        <!-- Status -->
      </div>
    </li>
    {% endfor %}
  </ol>

{% endblock %}

{% block modal %}
  <div class="modal modal-add-photo" id="modalcontainer">
    TODO
  </div>
{% endblock %}
