{% extends '_layout_landlord.html' %}


{% block content %}
<div class="main">
  <form method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="input-group input-inline input-accomodation">
			{{ form.accomodation }}
			{{ form.accomodation.errors }}
		</div>

		<!-- <div class="">
	    <label for="id_accomodation">Accomodation</label>
	    {{ form.accomodation }}
	    {{ form.accomodation.errors }}
		</div>		 -->

		<div class="box-input">
	    <label for="id_address_city">City</label>
	    {{ form.address_city }}
	    {{ form.address_city.errors }}
		</div>

		<div class="box-input">
	    <label for="id_address_address">Address</label>
	    {{ form.address_address }}
	    {{ form.address_address.errors }}
		</div>


			<small>
	    	{{ form.as_p }}
	    </small>
    <button type="submit">Save</button>
  </form>
</div>
{% endblock %}
