{% load staticfiles %}

<!doctype html>
<html>
<head>
	<title>{% block title %}IAEA Housing Service{% endblock %}</title>
	<link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/normalize.css" %}" />
	<link rel="stylesheet" href="{% static "css/main.css" %}" />
</head>
<body class="{% block layout %} layout-admin {% endblock %}">

	<div class="topbar">
		<div class="container">
			<div class="row">
				<div class="logo">
					<div class="img">
						<img src="{% static "img/ah-logotype-white.png" %}" alt="Atomic Housing Logo">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="content">
			<div class="aside">
				<div class="account">
					<div>Logged in as <br/>
						<strong class="no-br">John Doe</strong>
						<!-- caret -->
						<!-- <a href="">Sign out</a> -->
					</div>
				</div>
				<hr>
				{% block menu %}
				<h2 class="nav-title">Menu</h2>
				<ul class="nav">
					<li><a class="icon-overview" href="{% url 'hsadmin_home' %}">Overview</a></li>
					<li><a class="icon-listings" href="{% url 'hsadmin_listing_list' %}">Listings</a></li>
					<li><a class="icon-landlords" href="{% url 'hsadmin_landlord_list' %}">Landlords</a></li>
					<li><a class="icon-customers" href="{% url 'hsadmin_customer_list' %}">Customers</a></li>
					<li><a class="icon-contracts" href="{% url 'hsadmin_contract_list' %}">Contracts</a></li>
				</ul>
				<h2 class="nav-title">Admin</h2>
				<ul class="nav">
					<li><a class="icon-reports" href="" disabled>Reports</a></li>
					<li><a class="icon-settings" href="" disabled>Settings</a></li>
				</ul>
				{% endblock %}
				<hr>
				<p class="small muted">&copy; IAEA</p>
			</div>

			<div class="main">
				{% block page-title %}
					Page title
				{% endblock %}
				{% block content %}
					Content comes here.
				{% endblock %}
			</div>
		</div>
	</div>

	<div class="modal-container">
		{% block modal %}
		{% endblock %}
	</div>

	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	{% block scripts %} {% endblock %}
	<script src="{% static "js/main.js" %}"></script>

</body>
</html>
