{% load staticfiles %}
<!doctype html>
<html>
<head>
	<title>{% block title %}Atomic Housing{% endblock %}</title>
	<link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/normalize.css" %}" />
	<link rel="stylesheet" href="{% static "css/main.css" %}" />
</head>
<body class="layout-passage">

	<div class="logo">
		<div class="img">
			<img src="{% static "img/ah-logo.png" %}" alt="Atomic Housing Logo">
		</div>
	</div>

	<div class="content">
	{% block content %}
		Content comes here.
	{% endblock %}
	</div>

	<p class="copyright">&copy; <a href="http://www.iaea.org">IAEA</a></p>

</body>
</html>