{% load staticfiles %}

<!doctype html>
<html>
<head>
	<title>{% block title %}IAEA Housing Service{% endblock %}</title>
	<link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/normalize.css" %}" />
	<link rel="stylesheet" href="{% static "css/main.css" %}" />
</head>
<body class="{% block layout %} layout-user {% endblock %}">

	<div class="topbar">
		<div class="container">
			<div class="row">
				<div class="logo">
					<div class="img">
						<img src="{% static "img/ah-logotype-white.png" %}" alt="Atomic Housing Logo">
					</div>
				</div>
				<div class="search">
					<input type="search">
					<button type="submit">Search</button>
				</div>
				<div class="menu">
					{% if user.is_authenticated %}
					<div class="menu-item" data-popout="hover" data-target="">My Account</div>
			  	<a class="menu-item" href="{% url 'favorites' %}">My Favorites</a>
				  {% else %}
					<a class="menu-item" href="{% url 'register' %}">Sign in</a>
				  {% endif %}
					<div class="menu-item">
						Menu
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="content">
		{% block content %}
		{% endblock %}
		</div>
	</div>

	<div class="bottombar">
		<p class="copyright">&copy; <a href="http://www.iaea.org">IAEA</a></p>
	</div>

	<div class="modal-container">
		{% block modal %}
		{% endblock %}
	</div>

	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	{% block scripts %} {% endblock %}
	<script src="{% static "js/main.js" %}"></script>

</body>
</html>
