{% load utils %}

<div class="listing">
	<div class="listing-thumbnail">
		<div class="img no-photo"><img src="" alt=""></div>
	</div>
	<div class="listing-body">
		<div class="listing-stats">
			<div class="price">{{ listing.rent }} €</div>
			<small class="muted">available</small> <br>
			{% if not listing.availability %}
				<span class="availability now">Now</span>
			{% else %}
				<span class="availability">{{ listing.availability }}</span>
			{% endif %}
		</div>
		<div class="listing-title">
			<a href="{% url 'detail' listing.pk %}" title="{{ listing.title }}">{{ listing.title }}</a>
		</div>
		<div class="listing-address">
			<strong>{{ listing.address_district }}</strong> - {{ listing.address_address }}
		</div>
		<div class="listing-published">
			Published: {{ listing.updated|just_date }}
		</div>
	</div>
</div>