{% extends '_layout.html' %}
{% load utils %}
{% load staticfiles %}

{% block layout %}layout-detail{% endblock %}

{% block content %}

<!-- <div class="listing-photo">
	<div class="listing-gallery">
	</div>
	<ul class="listing-gallery">
		<li><div class="img"><img src="{% static "img/photo.jpg" %}" alt=""></div></li>
		<li><div class="img"><img src="{% static "img/photo.jpg" %}" alt=""></div></li>
		<li><div class="img"><img src="{% static "img/photo.jpg" %}" alt=""></div></li>
	</ul>
</div> -->

<div class="main">


	<div class="listing-photo">
		<div class="img">
      {% if object.cover_photo %}
			  <img src="{{ object.cover_photo.name.url }}" alt="">
      {% else %}
			  <img src="{% static "img/photo.jpg" %}" alt="">
      {% endif %}
		</div>
	</div>

	<div class="listing-summary">
		<a class="jump-to-map" href="#location" title="Jump to map"></a>
		<h1 class="h3 no-leading">{{ object.title }}</h1>
		<p>{{ object.address }}</p>

		<hr>

		<table class="table table-rent">
			<tbody>
				<tr>
					<td>{{ object.lease_type }}</td>
					<td><span class="price">{{ object.rent }}€</span></td>
					<td>{{ object.deposit }}€</td>
				</tr>
				<tr>
					<td>Lease</td>
					<td>Rent a month</td>
					<td>Deposit</td>
				</tr>
			</tbody>
		</table>

		<hr>

		<div class="text-center">
			<a class="btn primary" href="">Contact landlord</a>
			<a class="btn default" href="">Add to Favorites</a>
		</div>
	</div>

	<div class="section">
		<h3 class="section-title">Layout</h3>
		<table class="table table-layout">
			<tfoot>
				<tr class="labels">
					<td>{{ object.size }} m<sup>2</sup></td>
					<td>{{ object.rooms }} rooms</td>
					<td>{{ object.bedrooms }} bedrooms</td>
					<td>{{ object.bathrooms }} bathrooms</td>
					<td>{{ object.toilets }} toilets</td>
				</tr>
			</tfoot>
			<tbody>
				<tr class="icons">
					<td><span class="icon-size"></span></td>
					<td><span class="icon-rooms"></span></td>
					<td><span class="icon-bedrooms"></span></td>
					<td><span class="icon-bathrooms"></span></td>
					<td><span class="icon-toilets"></span></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="section">
		<h3 class="section-title">Description</h3>
		<p>{{ object.description|linebreaks }}</p>
	</div>

	<div class="section">
		<h3 class="section-title">Prices</h3>
		<dl class="dl-inline">
			<dt>Rent</dt>
			<dd>
				{{ object.rent }}€/month
				{% if object.rent_vat %}
					VAT included
				{% endif %}
			</dd>
			<dt>VAT</dt>
			<dd>{{ object.rent_vat|yesno }}</dd>
			<dt>Maintenance</dt>
			<dd>{{ object.rent_maintenance }}€/month</dd>
			<dt>Deposit</dt>
			<dd>{{ object.deposit }}€</dd>
		</dl>
	</div>	

	<div class="section">
		<h3 class="section-title">Ammenities</h3>
		<dl class="dl-inline">
			<dt>Furnished</dt>
			<dd>{{ object.furnished|yesno }}</dd>
			<dt>Parking</dt>
			<dd>{{ object.parking|default:"N/A" }}</dd>
			<dt>Heating</dt>
			<dd>
				{{ object.get_heating_display|default:"N/A" }}
				{% if object.heating_emission %}
					({{ object.heating_emission }} KW/m<sup>2</sup>)
				{% endif %}
			</dd>
			<dt>Outdoor</dt>
			<dd>

				{% if object.outdoor_size %}
					{{ object.outdoor_size}} m<sup>2</sup>&ensp; 
					{{ object.get_outdoor_display|default:'' }}
				{% else %}	
					N/A
				{% endif %}
			</dd>
		</dl>
	</div>

	<div class="section">
		<h3 class="section-title">Building</h3>
		<dl class="dl-inline">
			<dt>Construction year</dt>
			<dd>{{ object.year }}</dd>
			<dt>Floor</dt>
			<dd>{{ object.floor }}</dd>
			<dt>Elevator</dt>
			<dd>{{ object.elevator|yesno }}</dd>
		</dl>
	</div>

	<div class="section" id="location">
		<h3 class="section-title">Map location</h3>
		<div class="map" data-map='' data-address="{{ object.address_city }} {{ object.address_address }}"></div>
	</div>

	<div class="action-box">
		<a class="btn primary" href="">Contact landlord</a>
		<a class="btn default" href="">Add to Favorites</a>
	</div>

</div>

<!-- <div class="box-rent">
	<h1 class="h4">Apartment</h1>
	<dl class="rent-info">
		<dt>Rent</dt>
		<dd>{{ object.rent }}</dd>
		<dt>Deposit</dt>
		<dd>{{ object.deposit }}</dd>
		<dt>Lease</dt>
		<dd>{{ object.lease_type }}</dd>
	</dl>
	
</div> -->
<!--


</div>	 -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgzwlVgB2yRIIW89qbpi9dAiWlD1DAjy0&language=en">
	</script>
{% endblock %}
