{% extends '_layout.html' %}

{% block content %}

	<div class="aside">
		<div class="filters">
			
			<h3>Refine results</h3>

			<h4 class="filter-name">Accomodation</h4>
			<label for="apartment">
				<input type="checkbox" id="apartment"> Apartment
			</label>
			<label for="single">
				<input type="checkbox" id="single"> Single house
			</label>
			<label for="duplex">
				<input type="checkbox" id="duplex"> Duplex
			</label>
			<label for="other">
				<input type="checkbox" id="other"> Other
			</label>

			<hr>

			<h4 class="filter-name">Lease</h4>
			<label for="short">
				<input type="checkbox" id="short"> Short term
			</label>
			<label for="threeyear">
				<input type="checkbox" id="threeyear"> 3 year contract
			</label>
			<label for="fiveyear">
				<input type="checkbox" id="fiveyear"> 5 year contract
			</label>
			<label for="unlimited">
				<input type="checkbox" id="unlimited"> Unlimited
			</label>

			<hr>

			<h4 class="filter-name">Rooms</h4>
			<label for="">
				<input type="checkbox"> 1 room 
			</label>
			<label for="">
				<input type="checkbox"> 2 rooms 
			</label>
			<label for="">
				<input type="checkbox"> 3 rooms 
			</label>
			<label for="">
				<input type="checkbox"> 4+ rooms 
			</label>

			<hr>

			<h4 class="filter-name">Ammenities</h4>
			<label for="">
				<input type="checkbox"> Furnished
			</label>
			<label for="">
				<input type="checkbox"> Parking
			</label>
		</div>

		<!-- <div class="filter-map">
			Map here  
		</div> -->
	</div>

	<div class="main">
		<div class="clearfix">
			<h1 class="pull-left h5 muted">
				{{ object_list|length }} results for <strong>{{ form.search.data }}</strong>
			</h1>
			
			<div class="pull-right" method="get" action="">
        Sort by:
				{{ form.sortby }}
			</div>
			
		</div>


		{% if object_list|length %}
		<ul class="listings-list">
			{% for listing in object_list %}
			<li>
				{% include 'customer/_house.html' %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No results</p>
		{% endif %}
	</div>

{% endblock %}
