{% extends '_layout.html' %}

{% load staticfiles %}

{% block content %}

	<div class="aside">
		<div class="filters">
			
			<h3>Refine results</h3>

			<div class="filter-section">
				<div class="filter-name" data-toggle=".filter-list">Accomodation</div>
				<div class="filter-list">
					<label for="apartment">
						<input type="checkbox" id="apartment"> Apartment
					</label>
					<label for="single">
						<input type="checkbox" id="single"> Single house
					</label>
					<label for="duplex">
						<input type="checkbox" id="duplex"> Duplex
					</label>
					<label for="other">
						<input type="checkbox" id="other"> Other
					</label>
				</div>
			</div>

			<div class="filter-section">
				<div class="filter-name" data-toggle=".filter-list">Rooms</div>
				<div class="filter-list">
					<label for="room1">
						<input type="checkbox" id="room1"> 1 room
					</label>
					<label for="room2">
						<input type="checkbox" id="room2"> 2 rooms
					</label>
					<label for="room3">
						<input type="checkbox" id="room3"> 3 rooms
					</label>
					<label for="room4">
						<input type="checkbox" id="room4"> 4+ rooms
					</label>
				</div>
			</div>

			<div class="filter-section">
				<div class="filter-name" data-toggle=".filter-list">Lease</div>
				<div class="filter-list">
					<label for="short">
						<input type="checkbox" id="short"> Short term
					</label>
					<label for="threeyear">
						<input type="checkbox" id="threeyear"> 3 year contract
					</label>
					<label for="fiveyear">
						<input type="checkbox" id="fiveyear"> 5 year contract
					</label>
					<label for="unlimited">
						<input type="checkbox" id="unlimited"> Unlimited
					</label>
				</div>
			</div>

			<div class="filter-section">
				<div class="filter-name" data-toggle=".filter-list">Districts</div>
				<div class="filter-list collapsed">
					{{ form.district }}
				</div>
			</div>

			<div class="filter-section">
				<div class="filter-name" data-toggle=".filter-list">Ammenities</div>
				<div class="filter-list collapsed">
					<label for="">
						<input type="checkbox"> Furnished
					</label>
					<label for="">
						<input type="checkbox"> Parking
					</label>
					<label for="">
						<input type="checkbox"> Outdoor
					</label>
				</div>
			</div>

			<div class="filter-map">
				<div class="filter-name">Map view</div>
				<a class="img" data-modal=".modal-map" data-onopen='.map-full'>
					<img src="{% static "img/map-thumbnail.jpg" %}" alt="">
				</a>
			</div>
		</div>
	</div>

	<div class="main">
		<div class="clearfix">
      {% if form.search.data %}
			<h1 class="pull-left h5 muted">
				{{ object_list|length }} results for <strong>{{ form.search.data }}</strong>
			</h1>
      {% endif %}
			
			<div class="pull-right" method="get" action="">
        Sort by:
				{{ form.sortby }}
			</div>
			
		</div>


		{% if object_list|length %}
		<ul class="listings-list">
			{% for listing in object_list %}
			<li>
				{% include 'customer/_house.html' %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No results</p>
		{% endif %}
	</div>

{% endblock %}


{% block modal %}
	<div class="modal modal-map">
		<div class="map-full" data-map='cool' data-address="Vienna"></div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgzwlVgB2yRIIW89qbpi9dAiWlD1DAjy0&language=en">
	</script>
{% endblock %}
